@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,0..1;1,300..800,0..1&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --cor-fundo: #282C34;
    --cor-letras: #C2286B;
    --cor-cards: #1a1c1f;
    --cor-letras-fundo: #83C1C0;
    --fonte-padrao: "Google Sans Code", monospace;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    background-color: var(--cor-fundo);
}

main {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 16px;
    margin: 10px;
}

@media (max-width: 880px) {
    main {
        grid-template-columns: 1fr;
    }
}

.experiencias,
.educacao {
    background-color: var(--cor-cards);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.fundo-esquerda {
    background-color: var(--cor-cards);
    border-radius: 10px;
    font-family: var(--fonte-padrao);
    box-shadow: 5px 5px 10px #1a1c1f;
}

.direita {
    font-family: var(--fonte-padrao);
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: var(--cor-letras);
}

.data,
i {
    color: var(--cor-letras-fundo);
}

.nome-esquerda {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
}

.nome-esquerda h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 0;
    color: var(--cor-letras);
    margin-top: 20px;
}

.imagem-esquerda img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

ul {
    list-style: none
}

.pessoal,
.habilidades,
.linguagens {
    padding: 16px;
    line-height: 20px;
    color: var(--cor-letras-fundo);
}

.progresso {
    display: inline-block;
    width: 100%;
    height: 16px;
    background-color: #F0D145;
    transition: 100ms ease;
    border-radius: 20px;
}

.barra {
    border-radius: 20px;
    height: 100%;
    background-color: #c9a400;
}

.nome-item {
    font-weight: bold;
}

.experiencias {
    box-shadow: 5px 5px 10px #1a1c1f;
}

.educacao {
    box-shadow: 5px 5px 10px #1a1c1f;
}

footer {
    color: var(--cor-padrao);
    background-color: var(--cor-cards);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--fonte-padrao);
    color: var(--cor-letras-fundo);
}

footer a {
    text-decoration: none;
    color: var(--cor-letras-fundo);
    padding: 5px;
    transition: 100ms ease;
}

footer a:hover {
    color: var(--cor-letras);
}